<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]

AddType text/css .css
ErrorDocument 404 /cghc_chinagas_com_cn/notFound.html

</IfModule>